<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <title>HandSign Detector</title>
</head>
<body>
    <!--Navigation Bar-->
    <nav class="navber-container">
        <ul id="nav-logo">
            <strong>Hand Sign Reconition System</strong>
        </ul>
        <ul id="nav-links">
            <li><a href="/views/about.ejs">About</a></li>
            <li><a href="#features"></a>Features</li>
            <li><a href="#contact"></a>Contact</li>
        </ul>
    </nav>

