<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main.css">

    <title>About</title>
</head>
<body>
    <!--Navigation Bar-->
    <nav class="navber-container">
        <ul id="nav-logo">
            <strong>Hand Sign Reconition System</strong>
        </ul>
        <ul id="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="#features"></a>Features</li>
        </ul>
    </nav>

        <!--Main Section-->
        <main>
            <div class="content">
                <section>
                    <hgroup>
                        <h2>About the project</h2>
                        <h3>Explanation</h3>
                    </hgroup>
                    <p id="main-paragraph">
                        Our project is built for real-time hand sign recognition and imitation for our robotic hand.
                        It can be used for many applications in different areas.
                    </p>
                    <h3>Features</h3>
                    <ul>
                        <li>
                            Real-time hand sign detection.
                        </li>
                        <li>
                            Robotic hand imitate hand signs.
                        </li>
                    </ul>
                    <h3>Components</h3>
                    <ul>
                        <li>Raspberry pi 5 8GB RAM</li>
                        <li>Arduino Mega</li>
                        <li>Transceiver</li>
                        <li>Hand Skeleton with Servo Motors</li>
                        <li>Battery</li>
                        <li>Camera</li>
                        <li>Speaker</li>
                    </ul>
                    <h4>We use websockets and uart for communication.</h4>
                    <h3>Rectangle Diagram of the Project:</h3>
                    <img src="/static/assets/images/Robotic hand Sign rectangle diagram.png" alt="Rectangle diagram of hand sign detection project">
                </section>
            </div>
        </main>
</body>
</html>