<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <title>HandSign Detector</title>
</head>
<body>
    <!--Navigation Bar-->
    <nav class="navber-container">
        <ul id="nav-logo">
            <strong>Hand Sign Reconition System</strong>
        </ul>
    </nav>


    
    <!--Main Section-->
    <main>
        <div class="content">
            <section>
                <hgroup>
                    <h2>Hand Sign Recognition with Machine Learning</h2>
                    <h3>Real-Time Gesture Detection &amp; Robotic Hand Control</h3>
                </hgroup>
                <p id="main-paragraph">
                    This system captures hand gestures using a camera, processes them with a machine learning model,
                     and sends commands to a Raspberry Pi, which controls an Arduino-powered robotic hand.
                </p>
                <figure>
                    <img id="video" src="http://127.0.0.1:5000/video_feed" ></img>
                    <figcaption>Live Camera Feed</figcaption>
                </figure>
                <h3>Control Panel</h3>
                <div class="status-log">
                    <p>
                        <strong>Recognized Sign:</strong>
                        <span id="Sign"></span>
                    </p>
                    <p>
                        <strong>Data Sent to the Arduino:</strong>
                        <span id="ArduinoData"></span>
                    </p>
                </div>
            </section>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="/static/index.js"></script>
</body>
</html>
